@import "tailwindcss";

@theme {
  /* --- Colors --- */
  --color-background: #f8f9ff;
  --color-on-background: #0b1c30;
  --color-surface: #f8f9ff;
  --color-surface-dim: #cbdbf5;
  --color-surface-bright: #f8f9ff;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #eff4ff;
  --color-surface-container: #e5eeff;
  --color-surface-container-high: #dce9ff;
  --color-surface-container-highest: #d3e4fe;
  --color-surface-variant: #d3e4fe;
  --color-surface-tint: #0c56d0;
  --color-on-surface: #0b1c30;
  --color-on-surface-variant: #434654;
  --color-inverse-surface: #213145;
  --color-inverse-on-surface: #eaf1ff;
  --color-primary: #003d9b;
  --color-on-primary: #ffffff;
  --color-primary-container: #0052cc;
  --color-on-primary-container: #c4d2ff;
  --color-primary-fixed: #dae2ff;
  --color-primary-fixed-dim: #b2c5ff;
  --color-on-primary-fixed: #001848;
  --color-on-primary-fixed-variant: #0040a2;
  --color-inverse-primary: #b2c5ff;
  --color-secondary: #566067;
  --color-on-secondary: #ffffff;
  --color-secondary-container: #dae4ed;
  --color-on-secondary-container: #5c666d;
  --color-secondary-fixed: #dae4ed;
  --color-secondary-fixed-dim: #bec8d0;
  --color-on-secondary-fixed: #131d23;
  --color-on-secondary-fixed-variant: #3e484f;
  --color-tertiary: #004e34;
  --color-on-tertiary: #ffffff;
  --color-tertiary-container: #006848;
  --color-on-tertiary-container: #55ecb0;
  --color-tertiary-fixed: #68fcbf;
  --color-tertiary-fixed-dim: #45dfa4;
  --color-on-tertiary-fixed: #002114;
  --color-on-tertiary-fixed-variant: #005137;
  --color-error: #ba1a1a;
  --color-on-error: #ffffff;
  --color-error-container: #ffdad6;
  --color-on-error-container: #93000a;
  --color-outline: #737685;
  --color-outline-variant: #c3c6d6;

  /* --- Spacing --- */
  --spacing-unit: 4px;
  --spacing-gutter-mobile: 12px;
  --spacing-margin-mobile: 20px;

  /* --- Font Family --- */
  --font-body-md: 'Inter', sans-serif;
  --font-body-lg: 'Inter', sans-serif;
  --font-label-sm: 'Inter', sans-serif;
  --font-label-md: 'Inter', sans-serif;
  --font-headline-sm: 'Inter', sans-serif;
  --font-headline-md: 'Inter', sans-serif;
  --font-display-lg: 'Inter', sans-serif;
}

body {
  font-family: 'Inter', sans-serif;
  min-height: max(884px, 100dvh);
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 24;
}
